body {
    transition: all 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow-x: hidden;
    /* 스크롤바 x축만 숨김 */
}

.nav1 {
    position: fixed;
    /* fixed => 스크롤을 내려도 항상 보임 */

    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

section {
    height: 100vh;
    width: 100%;
    border-top: 2px dashed rgba(0, 0,0, 0.5);
}