.button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
}

i {
  position: absolute;
  top: 50%;
  height: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 10;
  color : orange;
}

.blurred {
  position: relative;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: 1.6s;
  filter: url(#goo);
}

.blurred::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: black;
  border-radius: 100%;
  transition: 0.6s;
}

.blurred::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: black;
  border-radius: 100%;
  transition: 0.6s;
}

.blurred > span:nth-of-type(1),
.blurred > span:nth-of-type(2) {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: black;
  border-radius: 100%;
  transition: .5s;
}

.button:hover .blurred::before {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
}

.button:hover .blurred::after {
  width: 15px;
  height: 15px;
  top: 30px;
  left: 45px;
}

.button:hover .blurred > span:nth-of-type(1) {
  width: 30px;
  height: 30px;
  top: -10px;
  left: -20px;
}

.button:hover .blurred > span:nth-of-type(2) {
  width: 25px;
  height: 25px;
  top: 40px;
  left: -20px;
}