/* Global */

:root {
    /* Color */
    --color-white : #ffffff;
    --color-light-white : #eeeeee;
    --color-dark-white : #bdbdbd;
    --color-pink : #fe918d;
    --color-dark-pink : #ff6863;
    --color-dark-grey : #4d4d4d;
    --color-grey : #616161;
    --color-light-grey : #7c7979;
    --color-blue : #79aace;
    --color-yellow : #fff7d1;
    --color-orange : #feb546;
    --color-black : #000000;

    /* Font Size */
    --font-large : 48px;
    --font-medium : 28px;
    --font-regular : 18px;
    --font-regular : 18px;
    --font-small : 16px;
    --font-micro : 14px;

    /* Font weight */
    --weight-bold : 700;
    --weight-semi-bold : 600;
    --weight-regular : 400; 
}
    /* Size */

    /* Universal tags */
* {
        box-sizing: border-box;
        /* padding이든 border을 주던 content 값에 맞춰서 안쪽으로 표현되도록 */
}

/* Typography */

h1 {
    font-size : var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size : var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size : var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}
    /* 할 때마다 바꾸는 것이 아니라 전역변수를 지정하여 계속 재사용 */
