/* 내부 스타일 시트 방법 */
/* head 태그에 style 태그 안에 작성 */

/* 외부 스타일 시트 방법 */
/* link href="스타일 파일 위치" rel="stylesheet" */

/* style 속성을 통해 모든 태그에 접근 가능 */

/* stlye - color */
/* 1. 키워드 방법 */
h1 {
    color : red;
}

/* 2. RGB(RED,GREEN,BLUE) */
/* 0은 해당 색상의 영향이 X */
/* 255는 해당 색상의 영향이 지대함 */

h1 {
    color : rgb(255,0,0);
}

/* rgba( a = alpha) => 투명도임 */

h1 {
    color : rgba(255,0,0,0.5);
}
/* 0~1의 값, 1로 하면 원색, 0이면 투명해짐 */

/* 3. HEX */
/* 16진수로 표현 */
/* #RRGGBB */
/* f가 제일 큰 수치, 0이 제일 작은 수치 */
/* ex) #ff0000 => 빨간색이 제일 큰 수치여서 빨간색 */


/* font-size */

/* 1. px */

/* 2. rem */
/* rem? => html 태그의 기본 폰트 크기(대부분 16px)을 기준으로 하는 단위 */

/* 3. em */
/* rem과 비슷하지만, 기준이 되는 크기는 부모 태그의 폰트 */

/* p 태그 안에 span 태그가 있을 경우 */
/* 같은 배수의 em이라도 span 태그가 중복으로 적용됨 */

/* 4. vw */
/* 화면의 가로크기와 관련이 되어있음 */
/* 1vw = 화면 가로 크기의 1/100 */
/* 크기에 비례하여 유동적으로 크고 작아짐 */

/* 5. vh */
/* 화면의 세로 크기와 관련되어 있음 */


/* font-family : 글꼴, 글꼴유형 */
/* 글꼴유형은 generic family라고도 불리는데, */
/* serif, sanserif, cursive, fantasy, monospace 중 하나를 사용해야 함 */
/* default라 생각하면 됨 */
/* 앞에서 나열한 폰트 중 퍼블리싱, 사용자 환경 중 적용하지 못할 수도 있음 */

/* font- weight : 키워드 / 100~900 웹에서는 키워드값을 주로 사용함 */

/* line-height : 크기 단위 or 배수 */
/* 줄마다 높이를 적용 */
/* 배수 적용 시 font-size를 부모로 침 */

/* 디버깅 : 코드의 오류를 찾아내어 바로잡는 작업 */

/* HTML과 CSS 디버깅법 */

/* 디버깅할 때 4가지를 확인하라 */

/* CSS의 논리자가 오류가 없는지(오타)*/
/* 저장을 했는지 안했는지 유무 */
/* HTML에 외부 CSS 링크가 있는지 */

/* 다 했는데 오류가 나온다 */
/* CSS가 2개 연결되있고, 같은 값을 참조할 때 위치로 인한 우선순위 */

/* 외부에 보여주려면 코드를 배포해야 함 */
/* 1. 서버에 코드 올리기 -> 도메인 연결하기 */
/* 그러나 생각보다 쉽지 않음 */

/* netlify -> 무료로 온라인에 배포 가능 */
/* 폴더 형식으로 올리기만 하면 무료로 배포 가능 */

/* 1. 이미지 태그를 앵커 태그에 감싸서 이미지 클릭 시 링크 이동 */
/* 2. 이미지 맵 사용 */

/* 1. img 태그에 usemap 속성 지정 : 속성값은 '#' + 이미지를 나타낼 수 있는걸로 */
/* 2. map 태그의 name 속성에 usermap 속성값 # 지우고 입력 */
/* 3. 안에 area 태그, shape = 영역(사각형, 등등), coords : 좌표(왼쪽 맨 위 0,0부터~) */
          /* href  => 이동할 주소 alt => 대체 텍스트 target = "_blank => 새 웹페이지*/ 
          /* shape는 img의 높이와 길이와는 상관 없이, 지정해준 영역만 가능 */

/* www.image-map.net */
/* => select image from my PC => shape 속성을 지정해 위치값을 쉽게 알아낼 수 있음 */
/* 해당 사이트의 도움을 받아서 쉽게 구현이 가능함 */
