/* 내부 스타일 시트 방법 */
/* head 태그에 style 태그 안에 작성 */

/* 외부 스타일 시트 방법 */
/* link href="스타일 파일 위치" rel="stylesheet" */

/* style 속성을 통해 모든 태그에 접근 가능 */

/* stlye - color */
/* 1. 키워드 방법 */
h1 {
    color : red;
}

/* 2. RGB(RED,GREEN,BLUE) */
/* 0은 해당 색상의 영향이 X */
/* 255는 해당 색상의 영향이 지대함 */

h1 {
    color : rgb(255,0,0);
}

/* rgba( a = alpha) => 투명도임 */

h1 {
    color : rgba(255,0,0,0.5);
}
/* 0~1의 값, 1로 하면 원색, 0이면 투명해짐 */

/* 3. HEX */
/* 16진수로 표현 */
/* #RRGGBB */
/* f가 제일 큰 수치, 0이 제일 작은 수치 */
/* ex) #ff0000 => 빨간색이 제일 큰 수치여서 빨간색 */


/* font-size */

/* 1. px */

/* 2. rem */
/* rem? => html 태그의 기본 폰트 크기(대부분 16px)을 기준으로 하는 단위 */

/* 3. em */
/* rem과 비슷하지만, 기준이 되는 크기는 부모 태그의 폰트 */

/* p 태그 안에 span 태그가 있을 경우 */
/* 같은 배수의 em이라도 span 태그가 중복으로 적용됨 */

/* 4. vw */
/* 화면의 가로크기와 관련이 되어있음 */
/* 1vw = 화면 가로 크기의 1/100 */
/* 크기에 비례하여 유동적으로 크고 작아짐 */

/* 5. vh */
/* 화면의 세로 크기와 관련되어 있음 */