body {
    text-align: center;
    align-items: center;
}

.bodyWrap {
    display: inline-block;
    width: 450px;
    margin-top: 300px;
    /* margin은 위치를 옮긴다고 생각하자 */
    padding: 30px 50px;
    /* padding을 조절하여 contentwidth,height를 조정하자 */
    background-color: aliceblue;
}