body {
    text-align: center;
    align-items: center;
    color: black;
    transition: 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btnWrap {
    margin-top: 300px;
}

button {
    background: chartreuse;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0px 30px;

}

h1 {
    margin-top: 40px;
}