body {
    overflow: hidden;
}

h1 {
    font-size: 20px;
}

button {
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

.arrowWrap {
    margin : 30px
}

.arrowWrap img {
    transition: all 1s cubic-bezier(0.635, -0.600, 0.405, 1.650);
    /*css ceaser -> bezier곡선만 만들면 원하는 값을 줌*/
    width : 30%;
}

